# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Output
/dist
/build

# App data
submissions.json
